.register {
  margin-top: 25px;
  margin-bottom: 25px;
}

.label {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: blue;
  padding-top: 12px;
  padding-bottom: 24px;
  padding-left: 12px;
  padding-right: 24px;
}

.label label {
  text-align: center;
  font-size: 24px;
  color: #1f2026;
}
