.header a {
  font-family: 'Inter';
}

.prices {
  border-radius: 12px;
  background-color: white;
  padding: 24px 20px;
  cursor: pointer;
}

.month {
  background-color: #F0F2F5;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-twen {
  padding: 6px 8px;
  font-size: 16px;
  color: black;
  font-family: 'Roboto';
  width: 72px;
  border-radius: 12px;
  transition: all 0.5s;
}

.price-twen:hover {
  background-color: #ffffff;
}



.price-twenty {
  width: 70px;
  padding: 6px 8px;
  font-size: 12px;
  font-family: 'Inter';
  color: black;

}

.price-sixMonth:hover {
  border-radius: 12px;
  background-color: #ffffff;
}

.price-sixMonth {
  font-size: 12px;
  font-family: 'Inter';
  width: 65px;
  padding: 8px 6px;
  color: black;
}


.price-three {
  font-size: 12px;
  font-family: 'Inter';
  color: black;
  padding: 6px 8px;
  width: 65px;
}

.price-three:hover {
  background-color: #ffffff;
}

.xarid button {
  padding: 14px;
  border-radius: 12px;
  font-family: 'Inter';
  cursor: pointer;
}

.xarid button img {
  background-color: #E6E8ED;
}

.cart {
  padding: 18px;
  font-family: 'Inter';
  border-radius: 12px;
}